Define/~table.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="table" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="module">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="table" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType>
                        <xs:attribute type="xs:string" name="name" use="required"/>
                        <xs:attribute type="xs:string" name="value" use="required"/>
                        <xs:attribute type="xs:string" name="input" use="required"/>
                        <xs:attribute type="xs:boolean" name="readSchemaFromFile" use="optional"/>
                        <xs:attribute type="xs:string" name="index" use="optional"/>
                        <xs:attribute type="xs:string" name="comment" use="optional"/>
                        <xs:attribute type="xs:string" name="output" use="optional"/>
                        <xs:attribute name="mode" use="optional">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:enumeration value="list"/>
                                    <xs:enumeration value="one"/>
                                    <xs:enumeration value="map"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="group" use="optional">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:enumeration value="c"/>
                                    <xs:enumeration value="s"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:attribute>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:string" name="name" use="required"/>
        </xs:complexType>
    </xs:element>
</xs:schema>